<div class="container my-5 card-body border">
    <h1 class="mb-3 text-center bg-dark text-white">RoomAmenities</h1>
    <hr>
   <a class="text-white btn btn-primary m-2" [routerLink]="['/add-HotelRoom']">Add HotelRooms</a>  
   <hr>
    <table class="table m-2 border" *ngIf="hotelroom">
       <thead>
            <tr class="bg-info">
               <th>Id</th>
               <th>HotelRefId</th>
               <th>RoomRefId</th>
               <th>PerNight</th>
               <th>PerDayNight</th>
               <th>PerDay</th>
               <th>Update</th>
               <th>Delete</th>
               </tr>
       </thead>
       <tbody>
           <tr *ngFor="let hotel of hotelroom">
               <td>{{hotel.id}}</td>
               <td>{{hotel.hotelRefId}}</td>
               <td>{{hotel.roomRefId}}</td>
               <td>{{hotel.perNight}}</td>
               <td>{{hotel.perDay}}</td>
               <td>{{hotel.perDayNight}}</td>

               <td><a [routerLink]="['/app','HotelRoom', hotel.id]" class="btn btn-primary">Edits</a></td>
               <td><a [routerLink]="['/app','HotelRoom', hotel.id]" class="btn btn-danger">Delete</a></td>
           </tr>
       </tbody>                                                         
    </table>
    <p *ngIf="!hotelroom">No Countrys Found </p>
</div>

