<app-home></app-home>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-5  ">
        <div class="card card-body  bg-white m-5 mt-5">
            <p style="font-weight: bold;">Book Flights, Hotel and Holiday Packages</p>
          <div class="row">
            <div class="col-sm-12">
                 <button type="button" class="btn btn-outline-danger">ONLY WAY</button>
                <button type="button" class="btn btn-outline-secondary m-3">ROUND TRIP </button>
                <button type="button" class="btn btn-outline-secondary">MULTI-CITY</button>
            </div>
          </div>
          <div class="row"> 
                <div class="col-5" >
                   <h6>Depart From</h6>
                    <h4>New Delhi</h4>
                    <h6>DEL</h6>
                    <hr>
                </div>
                <div class="col-5 Depart  me-auto" >
                    <h6>Going To</h6>
                     <h4>Munbai</h4>
                     <h6>BOM</h6>
                     <hr>
                </div>
        </div>
        <div class="row"> 
            <div class="col-5" >
               <h6>Departure Date</h6>
                <h4>16 Jul' 22</h4>
                <h6>Saturday</h6>
                <hr>
            </div>
            <div class="col-5 Depart  me-auto" >
                <h5>Return Date</h5>
                 <h6>Book Round Trip</h6>
                 <h6>to save extra</h6>
                 <hr>
            </div> 
      </div>



<div class="row"> 
    <div class="col-5" >
        <p>Traveller(s), Class</p>
      <h6>FlightBooking</h6>
    </div>
    <div class="col-sm-5 Depart  me-auto" >
        <div class="container">
            <a  href="#submenu" data-bs-toggle="collapse" class="nav-link px-0 ">
                <i class="fa fa-sort-desc" aria-hidden="true"></i>
            </a>
            <ul class="collapse nav  h5 flex-column ms-1" id="submenu" data-bs-parent="#menu">
              <li class="w-100">
                  <a routerLink="Flight" class="nav-link  m-1 px-0 "><i class="fa fa-fighter-jet mr-2"></i>Flight</a>
              </li>  
           </ul>
        </div>
         
    </div> 
</div>
<hr>

<div class="row"> 
    <div class="col-5 mb-3" >
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Non Stop Flight
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Armed Forces
            </label>
          </div>
    </div>
    <div class="col-5 Depart  me-auto" >
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Student Fare
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Senior Citizen
            </label>
          </div>
    </div> 
     

<div class="row mb-5"> 
    <hr>
    <div class="col-5" >
        <button type="button" class="btn btn-primary">  
            Check Refund </button>
    </div>
    <div class="col-5 Depart  me-auto" >
        <button type="button" class="btn btn-danger">  
            Search Flights</button>
    </div>
     </div>
       </div>
        </div>
        </div>



      <div class="col-sm-6 mt-5">
        <div class="row">
        <div class="col-sm-12">
                <img src="https://www.yatra.com/ythomepagecms/media/banner/2022/May/cc111d32c7363a4f34bd7998cfc4282b.jpg" alt="">
        </div>

        <div class="row mt-5"> 
            <div class="col-5" >
            <img src="https://www.yatra.com/ythomepagecms/media/double_banner/2022/Jul/f813d1f7b99fb7ad94d456ce5851af9c.jpg" alt="">
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-5 Depart me-auto" >
                <img style="padding-left:30px ;" src="https://www.yatra.com/ythomepagecms/media/double_banner/2022/Feb/a98ec4c1b58b92e98e5d01890e72e5ec.jpg" alt="">
            </div> 
      </div>
</div>
 

      <div class="col-sm-12 mt-5">
        <h4>Yatra Specials  <a href="">VIEW ALL</a>
        </h4>
        <div class="card-group">
            <div class="card col-4 m-1">
               <img class="card-img-top" src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2022/Jun/f4c3f5447470e2f53d14cd3cebac67f8.jpg" alt="Card image cap">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card col-4 m-1">
              <img class="card-img-top" src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2022/Jun/c1628c03d02c5c64f1f1dbf50223afef.jpg" alt="Card image cap">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card col-4 m-1">
              <img class="card-img-top" src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2021/Oct/01dacf74740011af5c7c4b8901dca300.jpg" alt="Card image cap">
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
                Yatra Flights

            </div>
            <div class="card-body">
              <h4 class="card-title ">Flight Booking at Low-cost
            </h4>
              <p class="card-text"> Flying in the post-COVID world is laden with uncertainties. o be submitted, tests results to be furnished, and only then are you allowed to board the flight. Helping you choose your flights in this post-pandemic world is Yatra.com that offers you flight tickets at reasonable prices, has made the process of flight booking the simplest it can possibly be, while offering easy refund procedures. If the pandemic has dented your travel budget, fret not. On Yatra, you will be able to find cheap air tickets to destinations of your choice, whether domestic or international. Thanks to its user-friendly interface and the discounts its runs from time to time, making flight ticket booking a breeze. There are protocols to be followed,</p>

              <h4 class="card-title ">COVID-19 Rules for Domestic Flight Tickets

            </h4>
              <p class="card-text"> Flying in the post-COVID world is laden with uncertainties. rch as Delhi to Lucknow IndiGo, and you can view the results on Yatra, with Delhi to Lucknow as the route and on-board IndiGo Airlines. This will help you make a more precise search without having to waste time browsing through expansive search results and then filtering it down to your chosen airline, and schedule. So, the next time you decide to fly and have decided whic  There are protocols to be followed,</p>
             </div>
          </div>

</div>




 
  