<div class="container my-5 card-body border">
    <h1 class="mb-3 text-center bg-dark text-white">Edit Amenitis</h1>
    <hr>
        <div class="row  ">
            <div class="col-6">
                <form #form="ngForm" (ngSubmit)="UpdateAmenitis()">
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="number" class="form-control" id="id" name="id"  readonly
                            [(ngModel)] = "addAmenitiesRequest.id">
                       </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" 
                          [(ngModel)] = "addAmenitiesRequest.name">
                     </div>
                     <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input type="text" class="form-control" id="description" name="description" 
                          [(ngModel)] = "addAmenitiesRequest.description" >
                       </div>                
                     <button type="submit" class="btn btn-primary mr-2">Save</button>
                     <button type="button" class="btn btn-danger" 
                     (click)=" DeleteAmenitis(addAmenitiesRequest.id)">Delete</button> 
                   </form>          
            </div>      
            <div class="col-6">
                <img class="w-100 h-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScadK-b6JJ8guQSQXXR-729v-HPBioDtLymO5J-Uf-Rq2xEGP93gPJ2sYYwE8jB39zMHc&usqp=CAU" alt="">
            </div>
        </div>
</div>
 