<div class="container my-5 card-body border">
    <h1 class="mb-3 text-center bg-dark text-white">Edit Travel</h1>
    <hr>
        <div class="row">
            <div class="col-5 card-body border m-3">
                <form #form="ngForm" (ngSubmit)="UpdateTravel()">
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="number" class="form-control" id="id" name="id"  readonly
                            [(ngModel)] = "travelClass.id">
                       </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" 
                          [(ngModel)] = "travelClass.name">
                     </div>

                     <button type="submit" class="btn btn-primary mr-2">Save</button>
                     <button type="button" class="btn btn-danger m-2" 
                     (click)="DeleteTravel(travelClass.id)">Delete</button>    
                   </form>          
            </div>
            <div class="col-6 card-body border m-3">
                <img class="w-100 h-100" src="https://st.redbus.in/bo-images/IND/WM/15919/4/FR/L/lejRej.jpeg">
            </div>
        </div>
</div>
 

 