<div class="container my-5 border card-body">
    <h1 class="mb-3 text-center bg-dark text-white">Edit Room</h1>
    <hr>
        <div class="row card-body">
            <div class="col-6">
                <form #form="ngForm" (ngSubmit)="UpdateRoom()">
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="number" class="form-control" id="id" name="id"  readonly
                        [(ngModel)] = "RoomDetails.id">
                       </div>
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                         <input type="text" class="form-control" id="name" name="name" 
                          [(ngModel)] = "RoomDetails.name">
                     </div>
 
                       <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input type="text" class="form-control" id="description" name="description" 
                         [(ngModel)] = "RoomDetails.description">
                       </div>
                                  
                     <button type="submit" class="btn btn-primary mr-2">Save</button>
                     <button type="button" class="btn btn-danger m-2" 
                     (click)="DeleteRoom(RoomDetails.id)">Delete</button>    
                       </form>          
                   </div>
            <div class="col-6">
                <img class="w-100 h-50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNulW0nJ2bzUGjvZgxf_aWjV2rBd3mSR0VjQ&usqp=CAU">
            </div>
        </div>
    </div>
 